<!-- Top Bar -->
<section id="" class="p-3 text-white" style="background-color:background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i>8712119325</div>
      <div class="col-md-4">
        <a href="mailto:rasagnakavuluri1@gmail.com">rasagnakavuluri1@gmail.com</a>
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#"> <i class="fab fa-twitter text-white"></i> </a>
          <a href="https://www.facebook.com/kavuluri.rasagna"> <i class="fab fa-facebook text-white"></i> </a>
          <a href="https://www.linkedin.com/in/leela-sai-rasagna-devi-kavuluri-382aa7216?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAADafc1IBn2liQFLaOLCr1H1Pv-A0To80_18"> <i class="fab fa-linkedin text-white"></i> </a>
          <a href="https://instagram.com/rasagnadevi_kls?igshid=NTc4MTIwNjQ2YQ=="> <i class="fab fa-instagram text-white"></i> </a>
          <a href="https://pin.it/610b3hA "> <i class="fab fa-pinterest text-white"></i> </a>
        </div>
      </div>
    </div>
  </div>
</section>
